@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: OpenSans-Regular, OpenSans-Bold, sans-serif;
}
.surface_logotext {
  fill: #ffffff;
  margin-top: 0;
}
.surface_logotext_header {
  fill: #ffffff;
  margin-top: 30px;
 margin-bottom: 130px;
}
.logotext {
  width:100%;
  display: flex;
  justify-content: center;
  position:relative;
  z-index:3;
  margin-left: auto;
  margin-right: auto;
}
.container {
  position: relative;
  z-index: 2;
}
.header {
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap:wrap;
  min-height:100vh;
  text-align: center;
  position: relative;
  background-color: #0a0e34;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-left: 20px;
  padding-right: 20px;
  }
.welcome_label {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans-Bold";
  color: #ffffff;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
.header::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.download_buttons {
  width: 100%;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  z-index:3;
}
.button {
  padding-left: 83px;
  margin-bottom: 14px;
  border: none;
  border-radius: 36px;
  background-color: #5e42b0;
  font-size: 8px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.button:focus {
  outline: 3px solid #e2595e;
  outline-offset: 10px;
}
.button:hover {
  background-color: #e2595e;
}
.button_last {
  display: flex;
  width: 280px;
  height: 36px;
  padding-left: 83px;
  margin-bottom: 14px;
  border: none;
  border-radius: 36px;
  background-color: #5e42b0;
  font-size: 8px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 50px;
}
.button_last:focus {
  outline: 3px solid #e2595e;
  outline-offset: 10px;
}
.butto_last:hover {
  background-color: #e2595e;
}
.search__icon {
  fill: #ffffff;
   margin-top: auto;
  margin-bottom: auto;
}
.search__field:focus + .search__icon {
  fill: #6441a5;
}
.spans {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7px;
  align-items: flex-start;
}
.span{
  text-transform: uppercase;
  text-align: left;
 text-decoration:none;
  list-style-type: none;
  color:#ffffff;
}
.span_line2 {
  display:block;
  text-transform: uppercase;
  text-align: left;
  text-decoration:none;
  list-style-type: none;
  color:#ffffff;
}
 .article:first-of-type{
      background-color:#fafafa;
      padding-bottom: 35px;
    }
.section_name{
  font-family: "OpenSans-Bold";
  color: rgb(231, 231, 231);
  line-height: 1.2;
  text-align: left;
  text-transform:uppercase;
  }
  .section_name_play{
   font-family: "OpenSans-Bold";
  color: rgb(231, 231, 231);
  line-height: 1.2;
  text-align: left;
  text-transform:uppercase;
  }
.section{
  margin-left: auto;
  margin-right: auto;
  width:100%;
   }
.sportman{
  width:calc(100% - 90px);
  position: absolute;
  margin-left: 50px;
}
.span_number{
  font-size: 14px;
  font-family: "OpenSans-Bold";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.464;
  text-align: center;
  list-style-type: none;
  vertical-align: super;
}
.header-number{
  position: relative;
  font-family: "OpenSans-Bold";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
  vertical-align:super;
  margin-right:8px;
}
.header-number::before {
    content: "";
    display: inline-block;
    background-color: #5e42b0;
    position: absolute;
    bottom: 5px;}
.card-category{
  text-align: left;
  font-size: 23px;
   font-family: OpenSans-Bold, sans-serif;;
  color: rgb(193, 193, 193);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
 
}
.content{
  font-size: 15px;
  font-family: OpenSans-Regular, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  width:calc(100% - 40px);
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.content_grey{
   font-size: 15px;
   font-family: OpenSans-Regular, sans-serif;
  color: #ffffff;
  line-height: 1.2;
  width:calc(100% - 40px);
  margin-top: 20px;
  padding-bottom: 55px;
  padding-right: 20px;
  padding-left: 20px;
}
.content_blue{
  font-size: 15px;
  font-family: OpenSans-Regular, sans-serif;
  color: #ffffff;
  line-height: 1.2;
  width:calc(100% - 40px);
  margin-top: 20px;
  padding-bottom: 55px;
  padding-left: 20px;
  padding-right: 20px;
}
 .sportman_basket{
    position: absolute;
    width: calc(100% - 40px);
    margin-top: 15px;
    padding-left: 10px;
    padding-right:20px;}
.footer {
  display:flex;
  flex-wrap:wrap;
  align-items:flex-start;
  justify-content: center;
  min-height:100vh;
  width: calc(100% - 40px);
  text-align: center;
  position: relative;
  background-color: #0a0e34;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.footer::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}
.container-footer{
  position:relative;
  z-index:2;
  padding-top: 100px;
  width:100%;
}
.purple-logo{
  text-align: center;
  width:75px;
  height:75px;
  background-color: #704bd0;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.logo{
  fill: #ffffff;
  width: 60px;
  height: 45px;
  margin-top: auto;
  margin-bottom: auto;
}
.article-header{
      display:flex;
      flex-wrap:wrap;
      padding-left: 20px;
      padding-right: 20px;
      width:calc(100% - 40px);
    }
.content:first-of-type{
  padding-bottom: 20px;
}
.content:nth-of-type(2){
    margin-bottom: 0;
         }
.article{      
   background-color: #f5f4f9;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding-top: 55px;
}
.article_play{
   background-color: #f5f4f9;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding-top: 55px;
}

.article:last-of-type{
    background-color: #5e42b0;
    margin-top: 0;
    padding-top: 45px;
  }
.article_action{
    margin-bottom:80px;
  }
.article_action:last-of-type{
    margin-bottom: 70px;
  }
.article_blue{
   background-color: #090c35;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding-top: 55px;
  }
.header-number_grey{
  position: relative;
  font-size: 14px;
  font-family: "OpenSans-Bold";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
  vertical-align:super;
  margin-right: 8px;
}
  .header-number_grey::before{
    content: "";
    display: inline-block;
    height: 4px;
    width: 15px;
    background-color: #ffffff;
    position: absolute;
    bottom:5px;
               }
  .header-number_blue{
  position: relative;
  font-size: 14px;
  font-family: "OpenSans-Bold";
  color: #8765dd;
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
  vertical-align:super;
  margin-right:8px;
  }
   .header-number_blue::before{
    content: "";
    display: inline-block;
    height: 4px;
    width: 15px;
    background-color: #ffffff;
    position: absolute;
    bottom:5px;
           }
   .sportmen{
    position:relative;
    display:block;
       }
   .sportmen-combination{
    display:block;
      }
      .purple_square{
    position:absolute;
    width:70px;
    height:70px;
    background-color:#5e42b0;
    margin-left: 20px;
    bottom:105px;
   }
.square-number::before{
      content: "";
      display: inline-block;
      height: 4px;
      width: 15px;
      background-color: #8f7bc8;
      position: absolute;
      bottom:0;
              }
.square-number {
    position:absolute;
    font-size: 14px;
    font-family: "OpenSans-Bold";
    color: #f5f6f7;
    text-transform: uppercase;
    line-height: 2;
    left: calc(50% - 24px/2);
    top: calc(50% - 48px/2);
   
}
  .section_active{
    width:100%;
  }
  .action-header{
    display:flex;
    margin-top:20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .card-category-new{
    text-align: left;
   font-size: 28px;
   font-family: OpenSans-Bold, sans-serif;
   color: #e7e7e7;
   font-weight: bold;
   text-transform: uppercase;
   line-height: 1.2;
   list-style-type: none;
    text-decoration:none;
   }
   .action-header-new{
    display:flex;
    flex-wrap:wrap;
    margin-top:17px;
    padding-left: 20px;
    padding-right: 20px;
        } 
  .content_new{
   font-size: 16px;
  font-family: OpenSans-Regular, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.25;
  text-align: left;
  padding-left:20px;
  padding-top: 17px;
  padding-right: 20px;}
  .content_one{
  font-size: 16px;
  font-family: OpenSans-Regular, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.25;
  text-align: left;
  padding-left:20px;
  padding-top: 17px;
  padding-right: 70px;

  }
.content_new_first{
  font-size: 16px;
  font-family: OpenSans-Regular, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.25;
  text-align: left;
  padding-left:20px;
  padding-top: 17px;
  padding-right: 80px;
  margin-bottom: 80px;
  }
   .purple_square_new {
   position: relative;
   width: 70px;
   height: 70px;
   background-color: #5e42b0;
   margin-left: 20px;
   bottom: 105px;
  }
  .purple_square_new_two{
   position: relative;
   width: 70px;
   height: 70px;
   background-color: #5e42b0;
   margin-left: 20px;
   bottom: 105px;  
  }
.footer_header{
  margin-top: 50px;
  font-size: 32px;
  font-family: OpenSans-Bold, sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.footer_header_next{
   font-size: 14px;
  font-family: OpenSans-Regular, sans-serif;
  color: #9b8ec1;
  font-weight: Regular;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}
.container-footer{
  position:relative;
  z-index:2;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.logotext_footer{
  display: flex;
  justify-content: center;
  align-self: flex-end;
  z-index:3;
}

@media (max-width: 640px) {
  .header {
    font-size: 12px;
    background-image: url("..//images/work-it_640.jpg");
  }
    .surface_logotext_header {
    width: 136px;
    height: 38px;
        }
  .surface_logotext{
    width: 136px;
    height: 38px;
        }
  .be {
    width:90%;
    font-size: 28px;
    font-family: "OpenSans-Bold";
    color: #ffffff;
    line-height: 1.8;
    text-align:left;
  }
  .small{
    margin-left: 45px;
    display: block;
    font-size: 28px;
    font-family: "OpenSans-Bold";
    color: #ffffff;
    line-height: 1.2;
        }
.download_buttons{
  max-width:280px;
}
.button:last-child{
  margin-bottom: 83px;
}

.button {
  display: flex;
  width: 280px;
  height: 36px;}
.span {
  font-family: OpenSans-Regular;
  font-size: 8px;}
.span_line2{
  font-family: OpenSans-Bold;
  font-weight: bold;
  font-size: 8px;
  }  
.search__icon {
  width: 28px;
  height: 28px;
  }
.header-number{
  font-size: 14px;
}
.header-number::before{
  width: 15px;
  margin-top: 15px;
  height:4px;
              }
 .section_name{
  font-size: 50px;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height:50px;
 }
 .section_name_play{
  font-size: 50px;
  margin-top: 15px;
  width:calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  height:50px;
 }
 .article-header{
   display:flex;
   flex-wrap:wrap;
   padding-left: 20px;
   padding-right: 20px;
   width: calc(100% - 40px);
    }
.content:first-of-type{
  padding-bottom: 20px;
}
 .content:nth-of-type(2){
  margin-bottom: 0;
         }
 .article{      
   background-color: #f5f4f9;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding-top: 55px;
}
.article:first-of-type {
  margin-top: 62.5%;
  padding-top: 117px;
 }
.article_play:first-of-type {
   margin-top: 62.5%;
   padding-top: 117px;
   background-color: #fafafa;
   padding-bottom:30px;}
.article_play{
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 53px;}
.article:last-of-type{
   background-color: #5e42b0;
   margin-top: 0;
   padding-top: 45px;
  }
  .article_action{
    margin-bottom:80px;
  }
  .article_action:last-of-type{
    margin-bottom: 70px;
  }
   .article_blue{
   background-color: #090c35;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding-top: 50px;
   padding-right: 20px;}
.header-number_grey{
  position: relative;
  font-size: 14px;
  font-family: "OpenSans-Bold";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
  vertical-align:super;
  margin-right: 8px;
}
.header-number_grey::before{
    content: "";
    display: inline-block;
    height: 4px;
    width: 15px;
    background-color: #ffffff;
    position: absolute;
    bottom:5px;
               }
.header-number_blue{
  position: relative;
  font-size: 14px;
  font-family: "OpenSans-Bold";
  color: #5e47a2;
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
  vertical-align:super;
  margin-right:8px;
  }
.header-number_blue::before{
    content: "";
    display: inline-block;
    height: 4px;
    width: 15px;
    background-color: #ffffff;
    position: absolute;
    bottom:5px;
           }
.sportman{
    width: calc(100% - 70px);
    position: absolute;
    margin-left: 40px;
    max-width:330px;
    padding-top: 10px;
            }
.purple_square{
    position:relative;
    width:70px;
    height:70px;
    background-color:#5e42b0;
    margin-left: 20px;
    bottom:105px;
   }
.square-number{
    position: absolute;
    font-size: 14px;
    left: calc(50% - 15px/2);
    top: calc(50% - 28px/2);
 }
     }
.square-number::before{
      content: "";
      display: inline-block;
      height: 4px;
      width: 15px;
      background-color: #8f7bc8;
      position: absolute;
      bottom:0;
     
  }
.section_active{
    width:100%;}
.action-header{
    display:flex;
    margin-top:20px;
    padding-left: 20px;
    padding-right: 20px;
  }
.card-category-new{
    text-align: left;
   font-size: 28px;
   font-family: OpenSans-Bold, sans-serif;
   color: #e7e7e7;
   font-weight: bold;
   text-transform: uppercase;
   line-height: 1.2;
   list-style-type: none;
    text-decoration:none;
   }
.action-header-new{
    display:flex;
    margin-top:20px;
    padding-left: 20px;
    padding-right: 20px;
        } 
.content_new{
   font-size: 16px;
  font-family: OpenSans-Regular, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.25;
  text-align: left;
  padding-left:0;
  padding-top: 20px;
  padding-right: 20px;}
.content_one{
  font-size: 16px;
  font-family: OpenSans-Regular, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.25;
  text-align: left;
  padding-left:0;
  padding-top: 20px;
  padding-right: 70px;

  }
.content_new_first{
  font-size: 16px;
  font-family: OpenSans-Regular, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.25;
  text-align: left;
  padding-left:20px;
  padding-top: 17px;
  padding-right: 80px;
  margin-bottom: 80px;
  }
  
.purple_square_new {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #5e42b0;
    margin-left: 20px;
    bottom: -10px;
  }
  .purple_square_new_two{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #5e42b0;
    margin-left: 20px;
    bottom: -10px;
  }
.sportmen-combination{
  display:block;
  position:relative;
  }
  .sportmen{
    width:100%;
  }
  .sportmen-combination{
    width:100%;
  }
.footer{
  background-image: url("..//images/game_767.jpg"); }
@media (min-width: 641px) and (max-width: 960px){
.header {
    font-size: 12px;
    background-image: url("..//images/work-it_960.jpg");
    height:100vh;
  }
  .surface_logotext_header {
    width: 211px;
    height: 60px;
           }
  .surface_logotext{
    width: 211px;
    height: 60px;
        }
  .be {
    margin-left:70px;
    width:90%;
    font-size: 64px;
    font-family: "OpenSans-Bold";
    color: #ffffff;
    line-height: 1.8;
    text-align:left;
    padding-bottom: 310px;
  }
.small{
    margin-left: 95px;
    display: block;
    font-size: 64px;
    font-family: "OpenSans-Bold";
    color: #ffffff;
    line-height: 0.95;
        }
.button {
  display: flex;
  width: calc(50% - 15px);
  max-width:310px;
  height: 75px;}
.span {
  font-family: OpenSans-Regular;
  font-size: 14px;}
.span_line2{
  font-family: OpenSans-Bold;
  font-weight: bold;
  font-size:14px;
  }
.search__icon{
  width: 45px;
  height: 45px;
  }
.download_buttons {
  width: calc(100% - 70px);
  max-width:650px;
  display:flex;
  flex-wrap:wrap;
  margin-right: 35px;
  margin-left: 35px;
  justify-content: space-between;
  margin-bottom: 70px;
}
.button:first-child{
    margin-right: 30px;
  }
 .sportman{
  width: calc(100% - 120px);
  margin-left: -90px;
  margin-top: -30px;
  max-width:650px;
      }
.section_name{
  margin-top: 85px;
  font-size: 80px;
  width:calc(100% - 300px);
  padding-left: 20px;
  padding-right: 0;
  height:80px;
  margin-left: 280px;
}
.article-header {
  width:100%;}

.header-number{
  font-size: 18px;
}
.header-number_grey{
  font-size: 18px;
}
.header-number_blue{
  font-size:18px;
}
.header-number_blue::before{
  width:20px;
  bottom:10px;
}
.header-number::before{
    width: 20px;
    height:4px;
    bottom:10px;
              }
.header-number_grey::before{
  width: 20px;
  height:4px;
  bottom:10px;
}
.article:first-of-type{
  margin-top: 0;
  padding-top:45px;
  padding-bottom: 20px;
  background-color: #ffffff;
  }
.article_play:first-of-type{
 background-color:#ffffff;
 padding-right: 350px;
 padding-top: 40px;
    
}
.article_play{
   padding-right: 300px;
   padding-left:10px;
   padding-bottom: 20px;
   padding-top:20px;
}
.article {
  padding-left: 280px;
  padding-right: 55px;
  padding-top: 15px;
  padding-bottom: 10px;
  width: calc(100% - 335px);
  }
.article:last-of-type{
    padding-top: 25px;
  }
.article_blue{
    padding-left:10px;
    padding-right: 320px;
  }
.section_name_play{
  margin-top: 65px;
  font-size: 80px;
  padding-left: 20px;
  padding-right: 20px;
  height:80px;
     }
.content{
  font-size: 16px;
  line-height: 1.75;
}
.content_blue{
  font-size:18px;
  line-height:1.5;
}
.sportman_basket {
    position: absolute;
    width: 73%;
    margin-top: -70px;
    margin-left: 24.5%;
    padding-right: 0;
}
.content_grey{
  font-size:16px;
  line-height:1.75;
  padding-bottom:20px;
  padding-right: 35px;
}
.card-category{
  font-size:32px;
}
.purple_square_new{
  width:115px;
  height:115px;
  bottom:-35px;
}
.purple_square_new_two{
  position: absolute;
  width: 115px;
  height: 115px;
  background-color: #5e42b0;
  margin-left: 20px;
  bottom: -35px;
}
.square-number{
  font-size:24px;
  position: absolute;
  left: calc(50% - 27px/2);
  top: calc(50% - 48px/2);
}
.square-number::before{
  width:24px;
}
.card-category-new{
  font-size:80px;
}
.action-header-new{
  margin-top: 40px;
  line-height:1.16;
}
.content_one {
    font-size: 24px;
    width:80%;
    padding-left: 0;
}
.content_new {
    font-size: 24px;
    width:80%;
    padding-left: 0;
}
.purple-logo {
    text-align: center;
    width: 135px;
    height: 135px;
    border-radius: 30px;}

.footer{
  background-image: url("..//images/game_1280.jpg"); 
  padding-left: 0;
  padding-right: 0;
  width:100%; 
  }

.surface_logotext{
  padding-bottom: 15px;
  padding-top: 50px;
  }

.footer_header_next{
  font-size: 36px;
  line-height: 1.66;
  }
.footer_header{
  text-align: center;
  font-size: 80px;
  line-height:0.75;
  margin-top: 80px;
  }
 .logo{
   width:105px;
   height:80px;
  }
.button:last-child{
    margin-right: 0;
  }
.search__icon{
    margin-left: -40px;
  }
.spans{
    margin-left: 25px;
  }
.footer_header_next{
  margin-bottom: 280px;
  }
.footer_label{
  width:100%;
  }}
@media (min-width: 961px) {
.header {
    font-size: 12px;
    background-image: url("..//images/work-it_1024.jpg");
    justify-content: flex-start;
    height:100vh;
  }
  .surface_logotext_header {
    width: 200px;
    height: 55px;
    margin-bottom: 310px;
          }
  .surface_logotext{
    width: 200px;
    height: 55px;
        }
  .welcome_label{
    width:100%;
  }
  .be {
   font-size: 90px;
   font-family: "OpenSans-Bold";
   color: #ffffff;
   padding-bottom: 11%;
   text-align: left;
   margin-left: 10%;
   display: flex;
   flex-wrap: wrap;
   line-height:0.7;
  }
.small{
   display: flex;
   font-size: 90px;
   font-family: "OpenSans-Bold";
   color: #ffffff;
   justify-content: flex-end;
   margin-left:30%;
   line-height:normal;
        }
.button {
  display: flex;
  width: 310px;
  height: 75px;}
.span {
  font-family: OpenSans-Regular;
  font-size: 14px;}
.span_line2{
  font-family: OpenSans-Bold;
  font-weight: bold;
  font-size:14px;
  }
.search__icon{
  width: 45px;
  height: 45px;
  }
.download_buttons {
  display:flex;
  width:710px;
  flex-wrap:wrap;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  margin-bottom: 100px;
}
.button:first-child{
    margin-right: 50px;
  }
 .sportman{
  position:absolute;
  width: 53%;
  margin-left: 14%;
  margin-top: -50px;
       }
.section_name{
  margin-top: 90px;
  font-size: 80px;
  width:45%;
  padding-left: 20px;
  padding-right: 20px;
  height:80px;
  margin-left: 50.5%;
  }
.section{
  width:100%;
}
.article-header{
  width:100%;
}
.header-number{
  font-size: 18px;
}
.header-number_grey{
  font-size: 18px;
}
.header-number_blue{
  font-size:18px;
}
.header-number_blue::before{
  width:20px;
  bottom:10px;
}
.header-number::before{
    width: 20px;
    height:4px;
    bottom:15px;
              }
.header-number_grey::before{
  width: 20px;
  height:4px;
  bottom:15px;
}
.article:first-of-type{
  margin-top: 0;
  padding-top:100px;
  padding-bottom: 20px;
  background-color: #ffffff;
  }
.article_play:first-of-type{
 background-color:#ffffff;
 padding-right: 55%;
 padding-top: 95px;
 padding-left: 140px;
 padding-bottom: 20px;   
}
.article_play{
   padding-right: 50%;
   padding-left:140px;
   padding-bottom: 50px;
   padding-top:40px;
}
.article_play:last-of-child{
  padding-bottom: 40px;
}
.article {
  padding-left: 50.5%;
  padding-right: 13%;
  padding-top: 35px;
  padding-bottom: 10px;
  }
.article:last-of-type{
    padding-top: 45px;
  }
.article_blue{
  padding-top:50px;
  padding-left:140px;
  padding-right: 55%;
  padding-bottom: 0;
  }
.article_action{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  margin-bottom: 0;
 }
.article_action:last-of-type {
    margin-bottom: 0;}
.action-header-new{
  display:flex;
  flex-direction:column;
  margin-top:245px;
  line-height:1.16;
  width:38%;
  padding-left: 6%;
  padding-right: 6%;
}
.sportmen{
  width:50%;
}
.section_name_play{
  margin-top: 95px;
  font-size: 80px;
  padding-left: 150px;
  padding-right: 20px;
  height:80px;
     }
.content{
  font-size: 20px;
  line-height: 1.4;
  margin-top: 15px;
}
.content:first-of-type{
  padding-bottom: 35px;
}
.content_blue{
  font-size: 20px;
  line-height: 1.4;
  margin-top: 15px;}
.sportman_basket {
    position: absolute;
    width: 73%;
    margin-top: -80px;
    margin-left: 22%;
    padding-right: 0;
}
.content_grey{
  font-size: 20px;
  line-height: 1.4;
  margin-top: 15px;
  padding-bottom: 40px;
}
.card-category{
  font-size:36px;
}
.purple_square_new{
  width:165px;
  height:150px;
  bottom: 50%;
  right: -83px;
}
.purple_square_new_two{
  width:165px;
  height:150px;
  bottom:50%;
  left: -83px;
}
.square-number{
  font-size:24px;
  position: absolute;
  left: calc(50% - 27px/2);
  top: calc(50% - 48px/2);
}
.square-number::before{
  width:24px;
}
.card-category-new{
  font-size:80px;
  padding-bottom: 70px;
}
.sportmen{
  width:50%;
}
.sportmen-combination{
  width:100%;
  height:100%;
  object-fit: cover;
  }
.article_action:nth-child(even){
  flex-direction:row-reverse;
}
.content_one {
    font-size: 24px;
    width:79%;
    padding-left: 0;
    padding-right: 20px;
    margin-bottom: 245px;
  }
.content_new {
    font-size: 24px;
    width:80%;
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 245px;
}
.purple-logo {
    text-align: center;
    width: 135px;
    height: 135px;
    border-radius: 30px;}
.footer{
  background-image: url("..//images/game_1280.jpg"); 
  padding-left: 0;
  padding-right: 0;
  width:100%;
  height:100vh; 
   }
.surface_logotext{
  padding-bottom: 15px;
  padding-top: 50px;
  }

.footer_header_next{
  font-size: 36px;
  line-height: 1.66;
  }
.footer_header{
  text-align: center;
  font-size: 80px;
  line-height:0.75;
  margin-top: 80px;
  }
 .logo{
   width:105px;
   height:80px;
  }
.button:last-child{
    margin-right: 0;
  }
.search__icon{
    margin-left: -40px;
  }
.spans{
    margin-left: 25px;
  }
.footer_header_next{
  margin-bottom: 280px;}
.footer_label{
  width:100%;
  max-height:700px;
}
}