@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: OpenSans-Regular, OpenSans-Bold, sans-serif;
}
.surface_logotext {
  fill: #ffffff;
}
.logotext {
  display: flex;
  justify-content: center;
}
.container {
  position: relative;
  z-index: 2;
}
.header {
  text-align: center;
  position: relative;
  background-color: #0a0e34;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-left: 20px;
  padding-right: 20px;
}
.welcome_label {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans-Bold";
  color: #ffffff;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
.header::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}
.download_buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}
.button {
  display: flex;
  width: 280px;
  height: 36px;
  padding-left: 83px;
  margin-bottom: 14px;
  border: none;
  border-radius: 36px;
  background-color: #5e42b0;

  font-size: 8px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.button:focus {
  outline: 3px solid #e2595e;
  outline-offset: 10px;
}
.button:hover {
  background-color: #e2595e;
}
.button_last {
  display: flex;
  width: 280px;
  height: 36px;
  padding-left: 83px;
  margin-bottom: 14px;
  border: none;
  border-radius: 36px;
  background-color: #5e42b0;
  font-size: 8px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 50px;
}
.butto_last:focus {
  outline: 3px solid #e2595e;
  outline-offset: 10px;
}
.butto_last:hover {
  background-color: #e2595e;
}
.search__icon {
  fill: #ffffff;
  width: 28px;
  height: 28px;
  margin-top: auto;
  margin-bottom: auto;
}
.search__field:focus + .search__icon {
  fill: #6441a5;
}
.spans {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7px;
  align-items: flex-start;
}
.span {
  font-family: OpenSans-Regular;
  font-size: 8px;
  text-transform: uppercase;
  text-align: left;
}
.span_line2 {
  font-family: OpenSans-Bold;
  font-weight: bold;
  font-size: 8px;
  text-transform: uppercase;
  text-align: left;
}
.section_name{
  margin-top: 15px;
  font-size: 50px;
  width:calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  height:50px;
  font-family: "OpenSans-Bold";
  color: rgb(231, 231, 231);
  line-height: 1.2;
  text-align: left;
  text-transform:uppercase;
  }
.section{
  margin-left: auto;
  margin-right: auto;
  width:100%;
   }
.sportman{
  width:calc(100% - 40px);
  position: absolute;
  margin-left: 50px;
}
.span_number{
  font-size: 14px;
  font-family: "OpenSans-Bold";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.464;
  text-align: center;
  list-style-type: none;
  vertical-align: super;
}

.card-category{
  text-align: left;
  font-size: 23px;
   font-family: OpenSans-Bold, sans-serif;;
  color: rgb(193, 193, 193);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
 
}
.content{
  font-size: 15px;
  font-family: OpenSans-Regular, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.2;
 width:calc(100% - 40px);
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.content_grey{
   font-size: 15px;
   font-family: OpenSans-Regular, sans-serif;
  color: #ffffff;
  line-height: 1.2;
  width:calc(100% - 40px);
  margin-top: 20px;
  padding-bottom: 55px;
  padding-right: 20px;
  padding-left: 20px;
}
.content_blue{
   font-size: 15px;
   font-family: OpenSans-Regular, sans-serif;
  color: #ffffff;
  line-height: 1.2;
  width:calc(100% - 40px);
  margin-top: 20px;
  padding-bottom: 55px;
  padding-left: 20px;
  padding-right: 20px;
}
 .sportman_basket{
    position: absolute;
    width: calc(100% - 40px);
    margin-top: 15px;
    padding-left: 10px;
    padding-right:20px;}
.footer {
  width: calc(100%-40px);
  text-align: center;
  position: relative;
  background-color: #0a0e34;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.footer::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}
.container-footer{
  position:relative;
  z-index:2;
  padding-top: 100px;
}
.purple-logo{
  text-align: center;
  width:75px;
  height:75px;
  background-color: #553ba2;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.logo{
  fill: #ffffff;
  width: 60px;
  height: 45px;
  margin-top: auto;
  margin-bottom: auto;
}
.footer_header{
  margin-top: 50px;
  font-size: 32px;
  font-family: OpenSans-Bold, sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.footer_header_next{
   font-size: 14px;
  font-family: OpenSans-Regular, sans-serif;
  color: #9b8ec1;
  font-weight: regular;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}
@media (max-width: 640px) {
  .header {
    font-size: 12px;
    background-image: url("..//images/work-it_640.jpg");
  }
  .surface_logotext {
    width: 136px;
    height: 38px;
    margin-top: 30px;
    margin-bottom: 130px;
  }
  .welcome_label{
    max-width:280px;
  }
  .be {
    font-size: 28px;
    font-family: "OpenSans-Bold";
    color: #ffffff;
    line-height: 1.2;
    align-self: flex-start;
    margin-bottom: 10px;
  }
  .play {
    font-size: 28px;
    font-family: "OpenSans-Bold";
    color: #ffffff;
    line-height: normal;
    margin-left: 40px;
    text-align: left;
    margin-bottom: 85px;
  }
.download_buttons{
  max-width:280px;
}
.button:last-child{
  margin-bottom: 83px;
}
.header-number{
  position: relative;
  font-size: 14px;
  font-family: "OpenSans-Bold";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
  vertical-align:super;
  margin-right:8px;
}
  .header-number::before{
    content: "";
    display: inline-block;
    height: 4px;
    width: 15px;
    background-color: #5e42b0;
    position: absolute;
    bottom:5px;
           }

    .article:first-of-type{
      margin-top: 62.5%;
      padding-top: 117px;
      background-color:#fafafa;
      margin-bottom: 35px;
    }
    .article-header{
      display:flex;
      flex-wrap:wrap;
      padding-left: 20px;
      padding-right: 20px;
    }
    .content:first-of-type{
  padding-bottom: 20px;
}
  .content:nth-of-type(2){
    margin-bottom: 0;
         }

    .article{      
   background-color: #f5f4f9;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding-top: 55px;
}
  .article:last-of-type{
    background-color: #5e42b0;
    margin-top: 0;
    padding-top: 45px;
  }
  .article_action{
    margin-bottom:80px;
  }
  .article_action:last-of-type{
    margin-bottom: 70px;
  }
   .article_blue{
   background-color: #090c35;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding-top: 55px;
  }
  .header-number_grey{
  position: relative;
  font-size: 14px;
  font-family: "OpenSans-Bold";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
  vertical-align:super;
}
  .header-number_grey::before{
    content: "";
    display: inline-block;
    height: 4px;
    width: 15px;
    background-color: #ffffff;
    position: absolute;
    bottom:5px;
           }
  .header-number_blue{
   position: relative;
  font-size: 14px;
  font-family: "OpenSans-Bold";
  color: #5e47a2;
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
  vertical-align:super;
  }
   .header-number_blue::before{
    content: "";
    display: inline-block;
    height: 4px;
    width: 15px;
    background-color: #ffffff;
    position: absolute;
    bottom:5px;
           }
    .sportmen{
      
      width: 100%;
            }
    .purple_square{
    position:absolute;
    width:70px;
    height:70px;
    background-color:#5e42b0;
    margin-left: 20px;
    bottom:105px;
   }
  .square-number{
    position: relative;
    font-size: 14px;
    font-family: "OpenSans-Bold";
    color: #f5f6f7;
    text-transform: uppercase;
    line-height: 2;
    text-align: center;
    vertical-align:super;
    padding-top:20px;
   
   ;
  }
  .square-number::before{
      content: "";
      display: inline-block;
      height: 4px;
      width: 15px;
      background-color: #8f7bc8;
      position: absolute;
      bottom:0;
     
  }
  .section_active{

    width:100%;}

  .action-header{
    display:flex;
    margin-top:20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .card-category-new{
    text-align: left;
   font-size: 28px;
   font-family: OpenSans-Bold, sans-serif;
   color: #e7e7e7;
   font-weight: bold;
   text-transform: uppercase;
   line-height: 1.2;
   list-style-type: none;
    text-decoration:none;
   }
   .action-header-new{
    display:flex;
    margin-top:20px;
    padding-left: 20px;
    padding-right: 20px;
        } 
  .content_new{
   font-size: 16px;
  font-family: OpenSans-Regular, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.25;
  text-align: left;
  padding-left:20px;
  padding-top: 17px;
  padding-right: 20px;}
  .content_one{
    font-size: 16px;
  font-family: OpenSans-Regular, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.25;
  text-align: left;
  padding-left:20px;
  padding-top: 17px;
  padding-right: 70px;

  }

   .content_new_first{
  font-size: 16px;
  font-family: OpenSans-Regular, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.25;
  text-align: left;
  padding-left:20px;
  padding-top: 17px;
  padding-right: 80px;
  margin-bottom: 80px;
  }
  
  .purple_square_new {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #5e42b0;
    margin-left: 20px;
    bottom: -10px;
  }
.sportmen-combination{
  display:block;
  position:relative;
  }
  .footer{
  background-image: url("..//images/game_767.jpg");  
  }
}
